<template>
<div>
<b-container>
  <b-row>
    <b-col sm="10" xs="12" offset-sm="1">
      <div class="sv-bg-image"></div>
      <div class="sv-logo">
        <img src="~@/assets/images/sikayetvar_logo_dark.png" alt="Şikayet Var" />
      </div>
      <div class="social-join-wrapper">
        Sosyal Medya Hesaplarınızla giriş yapın
      </div>
      <b-row no-gutters>
        <b-col>
          <div class="social-button facebook">
            <ul>
              <li> <img src="~@/assets/images/facebook_icon.svg" alt="Facebook Icon" /> </li>
              <li>Facebook</li>
            </ul>
          </div>
        </b-col>
        <b-col>
          <div class="social-button google">
            <ul>
              <li> <img src="~@/assets/images/google_icon.svg" alt="Google Icon" /> </li>
              <li>Google</li>
            </ul>
          </div>
        </b-col>
      </b-row>
        <span>
          ya da <br/>
          <strong>Kayıtlı e-posta adresinizle giriş yapın</strong>
        </span>
        <ValidationObserver v-slot="{ handleSubmit }">
          <form class="form-wrapper" @submit.prevent="handleSubmit(joinTheSite)">
              <ValidationProvider rules="required|email" v-slot="{ errors }">
                <div class="form-input">
                    <input
                    type="email"
                    name="email"
                    v-model="form.username"
                    maxlength="50"
                    placeholder="E-Posta"/>
                </div>
                <span class=validation-error>{{ errors[0] }}</span>
              </ValidationProvider>
              <ValidationProvider rules="required" v-slot="{ errors }">
                <div class="form-input">
                  <div class="eye-op" @click="showPassword = !showPassword"></div>
                  <input
                  :type="showPassword?'text':'password'"
                  v-model="form.password"
                  name="password"
                  maxlength="30"
                  placeholder="Şifre"/>
                </div>
                <span class=validation-error>{{ errors[0] }}</span>
              </ValidationProvider>
            <div class="form-input checkbox-svg">
              <input id="remember_me" type="checkbox" class="checkbox-el" />
              <label for="remember_me">
              <img src="~@/assets/images/check_icon.svg" />
                Beni Hatırla
              </label>
              <div class="password_hint">Şifremi Unuttum</div>
            </div>
            <button type="submit" :disabled="buttonDisabled" class="login-button">Giriş Yap</button>
          </form>
        </ValidationObserver>
        <span>Üye Değilseniz Hemen <strong todo="">Üye Olun</strong></span>
    </b-col>
  </b-row>
</b-container>
<JoinWrapper></JoinWrapper>
</div>
</template>
<script>
// Import required functions
import {
  ValidationProvider,
  extend,
  ValidationObserver,
  localize,
} from 'vee-validate';
import { required, email } from 'vee-validate/dist/rules';
import tr from 'vee-validate/dist/locale/tr.json';
import { post } from '@/api';
import JoinWrapper from '../components/JoinWrapper.vue';

// Changed validation localize
localize('tr', tr);
// Extend some rules
extend('email', email);
extend('required', required);

export default {
  name: 'Home',
  components: { ValidationProvider, ValidationObserver, JoinWrapper },
  data() {
    return {
      showPassword: false,
      buttonDisabled: false,
      form: {
        username: '',
        password: '',
        client_id: process.env.VUE_APP_CLIENT_ID,
        grant_type: process.env.VUE_APP_GRANT_TYPE,
        device_id: '123e4567-e89b-12d3-a456-426652340000', // Bu parametre gerekli uyarısı veriyor
      },
    };
  },

  methods: {
    async joinTheSite() {
      this.buttonDisabled = true;
      const result = await post('/auth-member/auth/login', this.form);
      if (result.success) {
        this.$store.dispatch('user/getToken', result.message);
      } else {
        // Created a modal for error message which from comes api
        this.$swal({
          icon: 'error',
          title: 'Hata',
          text: result.error.message,
        });
      }
      this.buttonDisabled = false;
    },
  },
};
</script>

<style scoped lang="scss">
span {
  text-align: center;
  margin: 30px 0 30px 0;
  display: block;
}

.sv-bg-image {
  z-index: 10;
  position: absolute;
  width: 148px;
  height: 148px;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 0);
  background: url('~@/assets/images/logbg_w.svg') no-repeat center;
  background-size: cover;
}

.sv-logo img {
  margin: 6em auto auto;
  width: 100%;
  max-width: 196px;
}

.social-join-wrapper {
  margin-top: 35px;
  font-weight: 600;
}

.social-button {
  margin-top: 20px;
  width: 165px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #d7d7d7;
  background: #ffffff;
  color: #343434;
  border-radius: 10px;
  cursor: pointer;
}

.social-button ul {
  display: flex;
  height: 100%;
  list-style: none;
  padding-left: 0;
  align-content: center;
  align-items: center;
}

.social-button ul li:nth-child(1) {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #114c86;
  flex-grow: 1;
  flex-basis: 44px;
}

.social-button ul li:nth-child(2) {
  text-align: center;
  margin: auto;
  flex-grow: 3;
}

.facebook {
  border-color: #114c86 !important;
  background: $facebook !important;
  color: #ffffff;
  margin-left: auto;
  margin-right: 7.5px;
}

.google {
  color: #343434;
  margin-left: 7.5px;
  ul li:nth-child(1) {
    border-right: 1px solid #d7d7d7 !important;
  }
}

.form-wrapper .form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 15px;
  position: relative;
  text-align: left;
  outline: none;
}

.validation-error {
  font-size: 11px;
  position: absolute;
  text-align: left;
  margin: 0;
  color: #b40303;
}

.form-input input[type=email], .form-input input[type=password], .form-input input[type=text]  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 48px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d7e2e8;
  color: $marine_blue;
  font-size: 14px;
  padding: 15px;
  letter-spacing: .01em;
}

.form-input .eye-op {
  position: absolute;
  width: 26px;
  height: 18px;
  right: 0;
  background: url('~@/assets/images/eye_op.svg') transparent no-repeat right -10%;
  transform: translate(-50%, -50%);
  top: 50%;
  cursor: pointer;
}

.checkbox-el {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-svg {
  input:checked + label > img {
    height: 19px;
  }

  label {
    color: $marine_blue;
    line-height: 26px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    &:after {
      content: "";
      height: 25px;
      width: 25px;
      margin-right: .3rem;
      float: left;
      border: 2px solid #b0bece;
      border-radius: 5px;
      transition: 0.15s all ease-out;
    }
  }

  img {
    stroke-width: 2px;
    height: 0; //Firefox fix
    width: 24px;
    position: absolute;
    left: 0px;
    top: 2px;
    stroke-dasharray: 33; //Firefox fix
  }
}

.password_hint {
  float: right;
  font-size: 12px;
  text-decoration: underline;
  color: $marine_blue;
  cursor: pointer;
}

.login-button {
  display: flex;
  position: relative;
  background-color: $phosphor_green;
  color: #ffffff;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  height: 44px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 70px;
  border: 0px;
  width: 100%;
}

</style>
