<template>
<div>
<b-container>
  <div class="sv-bg-image"></div>
  <b-row>
    <b-col sm="10" xs="12" offset-sm="1">
      <div class="user-top-wrapper">
        <div class="user-avatar"
        :style="{backgroundImage:`url(${VUE_APP_FILES_URL+userInformation.picture})`}">
        </div>
        <div class="user-name">
        {{userInformation.name}}
        </div>
      </div>
      <div class="green-button-wrapper">
        <div>
          <ul>
            <li><img src="~@/assets/images/camera_icon.svg" /></li>
            <li> Hızlı <br/> Şikayet Ekle </li>
          </ul>
        </div>
        <div>
          <ul>
            <li><img src="~@/assets/images/documents_icon.svg" /></li>
            <li> Detaylı <br/> Şikayet Ekle </li>
          </ul>
        </div>
      </div>
      <div class="notification-wrapper">
        <div class="notification-detail">
          Markadan gelen 2 okunmamış mesajınız var.
        </div>
        <div class="notification-button">
          Hemen Oku <img src="~@/assets/images/right_thin_arrow_icon_green.svg" />
        </div>
      </div>
      <div class="last-activations-wrapper">
        <div class="title">Son Hareketler</div>
        <div class="activations-inner">
          <ul>
            <li><img src="~@/assets/images/ic_4.svg" /></li>
            <li>
              <div class="brand">Trendyol</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adifs…</div>
              <div class="brand-notification">Marka şikayetinize cevap yazdı.</div>
              <div class="description-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit sagittis turpi…</div>
              <div class="time">5 saat önce</div>
            </li>
          </ul>
        </div>
        <div class="activations-inner">
          <ul>
            <li><img src="~@/assets/images/ic_4.svg" /></li>
            <li>
              <div class="brand">Apple</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adifs…</div>
              <div class="brand-notification">Şikayetiniz ile ilgili 3 yeni yorum var.</div>
              <div class="time">5 saat önce</div>
            </li>
          </ul>
        </div>
        <div class="activations-inner">
          <ul>
            <li><img src="~@/assets/images/ic_5.svg" /></li>
            <li>
              <div class="brand inactive">Garanti Bankası</div>
              <div class="description inactive">Lorem ipsum dolor sit amet, consectetur adifs…</div>
              <div class="brand-notification">Şikayetiniz 5 yeni destek aldı.</div>
              <div class="time">5 saat önce</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="sub-button-wrapper">
        Daha Çok Göster <img src="~@/assets/images/down_icon.svg" alt="" />
      </div>
      <div class="sub-button-wrapper border-blue">
        Tüm Şikayetlerim (12)
      </div>
      <div class="sub-button-wrapper border-blue">
        Yorum Yazdığım Şikayetler (8)
      </div>
      <div class="sub-button-wrapper border-blue">
        Desteklediğim Şikayetler (65)
      </div>
    </b-col>
  </b-row>
</b-container>
<JoinWrapper></JoinWrapper>
</div>
</template>

<script>
import JoinWrapper from '../components/JoinWrapper.vue';

export default {
  name: 'Personal',
  components: { JoinWrapper },
  data() {
    return {
      VUE_APP_FILES_URL: process.env.VUE_APP_FILES_URL,
      userInformation: null,
    };
  },

  created() {
    this.userInformation = this.$store.getters['user/getUserInformation'];
  },

  mounted() {
    this.userInformation = JSON.parse(localStorage.getItem('user_information'));
    if (!this.userInformation) this.$router.push('/');
  },
};
</script>

<style scoped lang="scss">
  .sv-bg-image {
    position: absolute;
    width: 246px;
    height: 246px;
    top: -8%;
    left: 50%;
    transform: translate(-50%, 0);
    background: url('~@/assets/images/logbg_w.svg') no-repeat center;
  }

  .user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-size: cover;
    background-position: center;
    margin: 100px auto 5px auto;
  }

  .user-name {
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: $marine_blue;
  }

  .green-button-wrapper {
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    div {
      cursor: pointer;
      text-align: left;
      background: $phosphor_green;
      border-radius: 5px;
      height: 65px;
      width: 165px;
      color: $white;
      font-size: 15px;
      line-height: 17px;
      font-weight: 700;
      box-shadow: 0 9px 10px -4px rgba(69, 218, 111, .8);

      ul {
        display: flex;
        width: 100%;
        height: 100%;
        padding-left: 0px;
        list-style: none;
        align-items: center;
        justify-content: center;

        li {
          margin-right: 10px;
        }
      }
    }

    div:nth-child(1) {
      margin-right: 7.5px;
    }
    div:nth-child(2) {
      margin-left: 7.5px;
    }
  }

  .notification-wrapper {
    margin-top: 15px;
    padding: 15px;
    background: url('~@/assets/images/counter-bg.png') repeat center;
    width: 100%;
    height: 69px;
    border-radius: 4px;
    color: $white;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
  }

  .notification-button {
    text-align: right;
    margin-top: 10px;
    color: $phosphor_green;
  }

  .last-activations-wrapper {
    margin-top: 30px;

    .title {
      color: #b0bece;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
    }

    .activations-inner {
      margin-top: 10px;
      background-color: $white;
      box-shadow: 0 6px 8px -4px rgba(0, 42, 91, .1);
      border-radius: 4px;
      cursor: pointer;

      .inactive {
        color: #b0bece !important;
      }

      ul {
        display: flex;
        padding: 10px;
        list-style: none;
        justify-content: space-between;

        li {
          text-align: left;

          .brand {
            font-size: 13px;
            color: #b0bece;
            font-weight: 600;
          }

          .description {
            font-size: 17px;
            line-height: 20px;
            color: $marine_blue;
            font-weight: 700;
          }

          .brand-notification {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 600;

            &:before {
              content: '●';
              color: $phosphor_green;
              position: absolute;
              margin-left: -13px;
            }
          }

          .description-detail {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 400;
          }

          .time {
            margin-top: 10px;
            font-weight: 500;
            font-size: 12px;
            color: #b0bece;
          }
        }

        li:nth-child(1) {
          padding: 30px 15px;
          flex-basis: 65px;
        }

        li:nth-child(2) {
          padding-top: 10px;
          flex-basis: 100%;
        }
      }
    }
  }

.sub-button-wrapper {
  height: 50px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: 002a5b;
  cursor: pointer;
  border-radius: 4px;

  img {
    margin-left: 4px;
    float: left;
  }
}

.border-blue {
  border: 1px solid $marine_blue;
  font-weight: 500 !important;
}
</style>
