<template>
  <div class="join-wrapper">
    Yazılan şikayetleri incelemek için sikayetvar.com’a git
    <img src="~@/assets/images/right_thin_arrow_icon.svg" />
  </div>
</template>

<script>
export default {

};
</script>

<style scoped lang="scss">
.join-wrapper {
display: flex;
padding-top: 10px;
margin-top: 10px;
align-items: flex-start;
justify-content: center;
background-color: $phosphor_green;
color: #ffffff;
font-size: 12px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
position: relative;
height: 79px;
width: 100%;
bottom: 0px;
left: 0px;

    img {
        padding-top: 4px;
    }
}
</style>
