<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

body {
  background-color: #f1f5f8 !important;
}

#app {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $marine_blue;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: $marine_blue;

    &.router-link-exact-active {
      color: $marine_blue;
    }
  }
}
</style>
